#character-profile {
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box
}

form {
    margin-bottom: 30px;
}

h2 {
    margin-top: 40px;
    border-bottom: 1px solid #ccc;
}

textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    resize: vertical;
}

.tab-menu {
    text-align: center;
    margin-bottom: 20px;
}

.tab-menu button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tab-content {
    display: none;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fdfdfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Active tab */
.tab-content.active {
    display: block;
}